.divCheckoutMargin {
    margin: 0 5vw ;
    text-align: center;
}

.checkoutContainer{
    display: flex;
    flex-direction: column;
}

.checkoutTitle {
    text-align: center;
}

/* .checkoutContainer{

}
.checkoutTitle{

} */