.header {
    margin: 10px 5vw 0;
}

.divHeader{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #90323D;
    border-bottom: 1px solid #5E0B15;
    margin-bottom: 5px;
    border-radius: 8px;
}
.nav{
    height: 100%;
    background-color: #313131;
    border-radius: 4px;
}
.logo{
    display: flex;
    flex-basis: 11%;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-right: 10px;
    height: 100%;
    font-size: 2.1rem;
    font-weight: bold;
    color: white;
    font-family: 'Pacifico', cursive;
}
.navUl{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.navItem{
    height: 100%;
    flex: 1;
}
.navItem a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #b4b4b4;
    text-align: center;
    transition: .1s ease-in;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    border-radius: 4px;
}


.navItem a:hover{
    border-left: 5px solid ;
}

@media (max-width: 868px) {
    .navItem a{
        font-size: 0.7rem;
    }
}

.cartDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 5%;
}
